<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeamInvitationLabel" jhiTranslate="rowadApp.teamInvitation.home.createOrEditLabel">Create or edit a Team Invitation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!teamInvitation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="teamInvitation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.teamInvitation.receiver" for="field_receiver">Receiver</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [ngModel]="teamInvitation.receiver.user.login" (ngModelChange)="findReceiver($event)" required />
        </div>
        <div div class="alert alert-success" role="alert" [hidden]="!teamInvitation.receiver.id">
            <h4><span jhiTranslate="rowadApp.teamMember.detail.title">Team Member</span> {{teamInvitation.receiver.user.login}}</h4>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{teamInvitation.receiver.user.firstName}}</dd>
                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{teamInvitation.receiver.user.lastName}}</dd>
                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{teamInvitation.receiver.user.email}}</dd>
            </dl>
        </div>
        <div div class="alert alert-danger" role="alert" [hidden]="!receiverError">
            <h4>Error</h4>
            <hr>
            <p>Le code saisi ne corresponde à aucun client</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
