<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectFileLabel" jhiTranslate="rowadApp.projectFile.home.createOrEditLabel">Create or edit a Project File</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projectFile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projectFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="projectFile.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                [(ngModel)]="projectFile.path" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="projectFile.type" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.content" for="field_content">Content</label>
            <div>
                <div *ngIf="projectFile.content" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(projectFile.contentContentType, projectFile.content)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{projectFile.contentContentType}}, {{byteSize(projectFile.content)}}</span>
                    <button type="button" (click)="projectFile.content=null;projectFile.contentContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_content" (change)="setFileData($event, projectFile, 'content', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                [(ngModel)]="projectFile.content" />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                [(ngModel)]="projectFile.contentContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.textContent" for="field_textContent">Text Content</label>
            <textarea class="form-control" name="textContent" id="field_textContent"
                [(ngModel)]="projectFile.textContent" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="rowadApp.projectFile.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="projectFile.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === projectFile.project?.id ? projectFile.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
